.idea
/dsa-java-maven/linkedlists/singly-linked-list/linkedlist/target/
/dsa-java-gradle/linked-lists/linkedlist-reverse-generic/docs/linkedlist-reverse-explained.mp4
/dsa-java-gradle/linked-lists/linkedlist-reverse-generic/docs/linkedlist-reverse-explained.srt
/dsa-java-gradle/linked-lists/linkedlist-reverse-generic/docs/linkedlist-reverse-explained.txt
/.claude/
/target/
/dsa-java-gradle/linked-lists/linkedlist-reverse-generic/videos/
/vidbuild/
