# Maven
target/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
/demo-videos/linkedlist-reverse-explained.mp4
/demo-videos/linkedlist-reverse-explained.txt
/.mvn/
/demo-videos/
